@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*==========
DEFAULTS
=========*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-position: -250px -250px, bottom -230px right -310px;
  background-size: 500px, 500px;
  background-repeat: no-repeat;
  background-color: #19a2ae;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*==========
COMPONENTS
=========*/
.profile-card {
  margin: 1.7em;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 350px);
      grid-template-columns: minmax(auto, 350px);
  -ms-grid-rows: 140px 147px 89px;
      grid-template-rows: 140px 147px 89px;
}

.profile-card__header {
  position: relative;
  background: url(../images/bg-pattern-card.svg) no-repeat;
}

.profile-card__content {
  border-bottom: 1px solid rgba(150, 150, 150, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 25px;
  padding-right: 25px;
}

.profile-card__hero {
  position: absolute;
  width: 105px;
  height: 105px;
  margin-left: -52.5px;
  left: 50%;
  bottom: -52.5px;
}

.profile-card__hero img {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 100%;
}

.profile-card__hero-name {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #2d3248;
  margin: 47px auto 12px;
}

.profile-card__hero-name span {
  margin-left: 5px;
  font-weight: 400;
  color: #969696;
}

.profile-card__hero-location {
  font-size: 0.85rem;
  color: #969696;
}

.profile-card__stats strong, .profile-card__stats small {
  display: block;
  text-align: center;
}

.profile-card__stats small {
  margin-top: 5px;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: #969696;
}

/*==========
DESKTOP
=========*/
@media only screen and (min-width: 1050px) {
  body {
    background-position: top -500px left -230px, bottom -580px right -180px;
    background-size: 58rem, 57rem;
  }
}
/*# sourceMappingURL=main.css.map */