@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --ff-kumbh: 'Kumbh Sans';
  --font-light: 400;
  --font-bold: 700;
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --dark-gray-opacity: hsla(0, 0%, 59%, 0.25);
  --footer-inner-side-spacing: 25px;
  --hero-size: 105px;
  --top-bg-top-position: -250px;
  --top-bg-left-position: -250px;
  --bot-bg-bottom-position: -230px;
  --bot-bg-right-position: -310px;
  --top-bg-size: 500px;
  --bot-bg-size: 500px;
}

/*==========
DEFAULTS
=========*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-cyan);
  font-family: var(--ff-kumbh), sans-serif;
  font-size: 18px;
  min-height: 100vh;
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: top var(--top-bg-top-position) left var(--top-bg-left-position), bottom var(--bot-bg-bottom-position) right var(--bot-bg-right-position);
  background-size: var(--top-bg-size), var(--bot-bg-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*==========
COMPONENT
=========*/
@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.9);
            transform: translateY(0) scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(0.9);
            transform: translateY(0) scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.profile-card {
  -webkit-animation: fade-down 1500ms;
          animation: fade-down 1500ms;
  margin: 1.7em;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 350px);
      grid-template-columns: minmax(auto, 350px);
  -ms-grid-rows: 140px 147px 89px;
      grid-template-rows: 140px 147px 89px;
}

.profile-card__header {
  position: relative;
  background: url(../images/bg-pattern-card.svg) no-repeat;
}

.profile-card__content {
  border-bottom: 1px solid var(--dark-gray-opacity);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: var(--footer-inner-side-spacing);
  padding-right: var(--footer-inner-side-spacing);
}

.profile-card__hero {
  position: absolute;
  width: var(--hero-size);
  height: var(--hero-size);
  margin-left: calc(var(--hero-size) / -2);
  left: 50%;
  bottom: calc(var(--hero-size) / -2);
}

.profile-card__hero img {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 100%;
}

.profile-card__hero-name {
  font-family: var(--ff-kumbh), sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--very-dark-desaturated-blue);
  margin: 47px auto 12px;
}

.profile-card__hero-name span {
  margin-left: 5px;
  font-weight: var(--font-light);
  color: var(--dark-gray);
}

.profile-card__hero-location {
  font-size: 0.85rem;
  color: var(--dark-gray);
}

.profile-card__stats strong, .profile-card__stats small {
  display: block;
  text-align: center;
}

.profile-card__stats small {
  margin-top: 5px;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: var(--dark-gray);
}

/*==========
DESKTOP
=========*/
@media only screen and (min-width: 1050px) {
  body {
    --top-bg-top-position: -500px;
    --top-bg-left-position: -230px;
    --bot-bg-bottom-position: -580px;
    --bot-bg-right-position: -180px;
    --top-bg-size: 910px;
    --bot-bg-size: 925px;
    -webkit-animation: float-bg 4s infinite ease-in-out;
            animation: float-bg 4s infinite ease-in-out;
  }
  @-webkit-keyframes float-bg {
    0% {
      background-position: top var(--top-bg-top-position) left var(--top-bg-left-position), bottom var(--bot-bg-bottom-position) right var(--bot-bg-right-position);
    }
    50% {
      background-position: top calc(var(--top-bg-top-position) - 20px) left var(--top-bg-left-position), bottom calc(var(--bot-bg-bottom-position) - 10px) right var(--bot-bg-right-position);
    }
    100% {
      background-position: top var(--top-bg-top-position) left var(--top-bg-left-position), bottom var(--bot-bg-bottom-position) right var(--bot-bg-right-position);
    }
  }
  @keyframes float-bg {
    0% {
      background-position: top var(--top-bg-top-position) left var(--top-bg-left-position), bottom var(--bot-bg-bottom-position) right var(--bot-bg-right-position);
    }
    50% {
      background-position: top calc(var(--top-bg-top-position) - 20px) left var(--top-bg-left-position), bottom calc(var(--bot-bg-bottom-position) - 10px) right var(--bot-bg-right-position);
    }
    100% {
      background-position: top var(--top-bg-top-position) left var(--top-bg-left-position), bottom var(--bot-bg-bottom-position) right var(--bot-bg-right-position);
    }
  }
}
/*# sourceMappingURL=main.css.map */